<!DOCTYPE html>
<html lang="vi">

<head>
  <%- include("../templates/head"); %>
</head>

<body>

  <div class="container-xxl bg-white p-0">
    <div class="container-xxl position-relative p-0">
      <%- include("../templates/header"); %>

      <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
          <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
              <h1 class="display-3 text-white animated slideInLeft"><%- name %></h1>
              <p class="text-white animated slideInLeft mb-4 pb-2"><%- role %></p>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
              <img class="img-fluid" src="/img/team-1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-xxl">
      <div class="row">
        <h4><em>Your Gaming</em> Library</h4>
        <div class="col-lg-4">
          <img class="img-fluid" src="/img/menu-1.jpg" alt="">
        </div>
        <div class="col-lg-8">
          <ul>
            <li>
              <h4>Dota 2</h4><span>Sandbox</span>
            </li>
            <li>
              <h4>Date Added</h4><span>24/08/2036</span>
            </li>
            <li>
              <h4>Hours Played</h4><span>634 H 22 Mins</span>
            </li>
            <li>
              <h4>Currently</h4><span>Downloaded</span>
            </li>
            <li>
              <div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row py-5">
        <h4><em>Your Gaming</em> Library</h4>
        <div class="col-lg-4">
          <img class="img-fluid" src="/img/menu-2.jpg" alt="">
        </div>
        <div class="col-lg-8">
          <ul>
            <li>
              <h4>Dota 2</h4><span>Sandbox</span>
            </li>
            <li>
              <h4>Date Added</h4><span>24/08/2036</span>
            </li>
            <li>
              <h4>Hours Played</h4><span>634 H 22 Mins</span>
            </li>
            <li>
              <h4>Currently</h4><span>Downloaded</span>
            </li>
            <li>
              <div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row py-5">
        <h4><em>Your Gaming</em> Library</h4>
        <div class="col-lg-4">
          <img class="img-fluid" src="/img/menu-3.jpg" alt="">
        </div>
        <div class="col-lg-8">
          <ul>
            <li>
              <h4>Dota 2</h4><span>Sandbox</span>
            </li>
            <li>
              <h4>Date Added</h4><span>24/08/2036</span>
            </li>
            <li>
              <h4>Hours Played</h4><span>634 H 22 Mins</span>
            </li>
            <li>
              <h4>Currently</h4><span>Downloaded</span>
            </li>
            <li>
              <div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <%- include("../templates/footer"); %>

  <%- include("../templates/script"); %>

</body>

</html>